<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.QuestionMapper">
    
    <resultMap type="Question" id="QuestionResult">
        <result property="questionId"    column="question_id"    />
        <result property="questionTitle"    column="question_title"    />
        <result property="rightAnswer"    column="right_answer"    />
        <result property="orderNum"    column="order_num"    />
        <result property="answer"    column="answer"    />
    </resultMap>
	
	<sql id="selectQuestionVo">
        select question_id, question_title, right_answer, order_num, answer from sys_question
    </sql>
	
    <select id="selectQuestionList" parameterType="Question" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        <where>  
            <if test="questionId != null "> and question_id = #{questionId}</if>
             <if test="questionTitle != null  and questionTitle != '' "> and question_title = #{questionTitle}</if>
             <if test="rightAnswer != null  and rightAnswer != '' "> and right_answer = #{rightAnswer}</if>
             <if test="orderNum != null "> and order_num = #{orderNum}</if>
             <if test="answer != null "> and answer = #{answer}</if>
         </where>
    </select>
    
    <select id="selectQuestionById" parameterType="Integer" resultMap="QuestionResult">
        <include refid="selectQuestionVo"/>
        where question_id = #{questionId}
    </select>
        
    <insert id="insertQuestion" parameterType="Question">
        insert into sys_question
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="questionId != null  ">question_id,</if>
			<if test="questionTitle != null  and questionTitle != ''  ">question_title,</if>
			<if test="rightAnswer != null  and rightAnswer != ''  ">right_answer,</if>
			<if test="orderNum != null  ">order_num,</if>
			<if test="answer != null  ">answer,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="questionId != null  ">#{questionId},</if>
			<if test="questionTitle != null  and questionTitle != ''  ">#{questionTitle},</if>
			<if test="rightAnswer != null  and rightAnswer != ''  ">#{rightAnswer},</if>
			<if test="orderNum != null  ">#{orderNum},</if>
			<if test="answer != null  ">#{answer},</if>
         </trim>
    </insert>
	 
    <update id="updateQuestion" parameterType="Question">
        update sys_question
        <trim prefix="SET" suffixOverrides=",">
            <if test="questionTitle != null  and questionTitle != ''  ">question_title = #{questionTitle},</if>
            <if test="rightAnswer != null  and rightAnswer != ''  ">right_answer = #{rightAnswer},</if>
            <if test="orderNum != null  ">order_num = #{orderNum},</if>
            <if test="answer != null  ">answer = #{answer},</if>
        </trim>
        where question_id = #{questionId}
    </update>

	<delete id="deleteQuestionById" parameterType="Integer">
        delete from sys_question where question_id = #{questionId}
    </delete>
	
    <delete id="deleteQuestionByIds" parameterType="String">
        delete from sys_question where question_id in 
        <foreach item="questionId" collection="array" open="(" separator="," close=")">
            #{questionId}
        </foreach>
    </delete>


<!--    随机查询10道题目-->
    <select id="selectQuestionRandom" parameterType="Question" resultMap="QuestionResult">
        select * from sys_question  ORDER BY  RAND() LIMIT 10
    </select>
</mapper>